<style>
  :root {
    --header-is-sticky: {% if section.settings.enable_sticky %}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    --header-grid: "primary-nav logo secondary-nav" / minmax(0, 1fr) auto minmax(0, 1fr);
    --header-padding-block: 1rem;
    --header-transparent-header-text-color: {{ section.settings.transparent_header_text_color.rgb }};
    --header-separation-border-color: {% if section.settings.show_separation_border %}{{ section.settings.color_scheme.settings.text_color.rgb }} / 0.15{% else %}0 0 0 / 0{% endif %};

    position: relative;
    z-index: 4;
  }
  .custom-header-wraper_d1{
  width:100%;
  height:auto;
  }
.custom-hamburger-container{
    width: 30px;
    height: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor:pointer;
}
.custom-hamburger-container span{
position: relative;
    width: 12px;
    height:2px;
    background: white;
    transition:0.2s
}
.custom-hamburger-container span::before{
content:'';
width:24px;
height:2px;
background:white;
position:absolute;
top:-8px;
left:0
}
.custom-hamburger-container span::after{
content:'';
width:17px;
height:2px;
background:white;
position:absolute;
bottom:-8px;
left:0;
  transition:0.2s}

.custom-hamburger-container:hover span,
.custom-hamburger-container:hover span::after {
  width: 24px;
}
.custom-icons-label{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform:translateX(-50%);
    background:#1C1C1C;
  padding:3px 5px;
transition:0.5s ease;
color:white;
    z-index: 1;
    opacity:0;
    padding:1px 4px;
    font-size:12px;
    border-radius:3px;
    white-space: nowrap;  
  width: auto;           
  display: inline-block;
}
.header__account-link{ 
position:relative;

}
.header__account-link:hover .custom-icons-label{
 bottom: -28px;
 opacity:1

}
.header__search-link:hover .custom-icons-label{
 bottom: -28px;
 opacity:1

}
.header__cart-link:hover .custom-icons-label{
 bottom: -28px;
 opacity:1

}
.header__Wishlist-link{
 position:relative

}
.header__Wishlist-link:hover .custom-icons-label {
 bottom: -28px;
 opacity:1

}
  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      --header-padding-block: {% if section.settings.reduce_padding %}1.2rem{% else %}1.6rem{% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- case section.settings.layout -%}
        {%- when 'logo_left_navigation_inline' -%}
          --header-grid: "logo primary-nav secondary-nav" / auto minmax(0, 1fr) auto;

        {%- when 'logo_left_navigation_center' -%}
          --header-grid: "logo primary-nav secondary-nav" / minmax(max-content, 1fr) auto minmax(max-content, 1fr);

        {%- when 'logo_center_navigation_below' -%}
          --header-grid: ". logo secondary-nav" "primary-nav primary-nav primary-nav" / minmax(0, 1fr) auto minmax(0, 1fr);
      {%- endcase -%}
    }
  }

  {%- if section.settings.enable_sticky -%}
    #shopify-section-{{ section.id }} {
      position: sticky;
      top: 0;
    }

    .shopify-section--announcement-bar ~ #shopify-section-{{ section.id }} {
      top: calc(var(--announcement-bar-is-sticky, 0) * var(--announcement-bar-height, 0px));
    }
  {%- endif -%}

  {%- if section.settings.logo != blank -%}
    #shopify-section-{{ section.id }} {
      --header-logo-width: {{ section.settings.logo_mobile_max_width }}px;
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --header-logo-width: {{ section.settings.logo_max_width }}px;
      }
    }
  {%- endif -%}
</style>

<height-observer variable="header">

  <x-header {% if section.settings.hide_on_scroll and section.settings.enable_sticky %}hide-on-scroll{% endif %} class="header color-scheme color-scheme--{{ section.settings.color_scheme.id }} xo-container-width" style=" display:grid;padding-block:{{ section.settings.header_height}}px">
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    LOGO AREA
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- capture logo_content -%}
      {%- if section.settings.logo -%}
        {%- capture sizes -%}{{ section.settings.logo_max_width }}px{%- endcapture -%}
        {%- capture widths -%}{{ section.settings.logo_max_width | times: 2 | at_most: section.settings.logo.width }}, {{ section.settings.logo_max_width | times: 3 | at_most: section.settings.logo.width }}{%- endcapture -%}

        <span class="sr-only">{{ shop.name }}</span>
        {%- assign alt_text = section.settings.logo.alt | default: shop.name -%}
        {{- section.settings.logo | image_url: width: section.settings.logo.width | image_tag: sizes: sizes, alt: alt_text, widths: widths, class: 'header__logo-image' -}}

        {%- if section.settings.transparent_logo -%}
          {{- section.settings.transparent_logo | image_url: width: section.settings.transparent_logo.width | image_tag: sizes: sizes, widths: widths, class: 'header__logo-image header__logo-image--transparent' -}}
        {%- endif -%}
      {%- else -%}
        <span class="header__logo-text h5">{{ shop.name }}</span>
      {%- endif -%}
    {%- endcapture -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__logo">
        <a href="{{ routes.root_url }}">{{ logo_content }}</a>
      </h1>
    {% else %}
      <a href="{{ routes.root_url }}" class="header__logo">{{ logo_content }}</a>
    {% endif %}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRIMARY NAVIGATION AREA
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- assign menu = section.settings.menu -%}
    {%- assign sidebar_menu = section.settings.sidebar_menu -%}

    {%- if menu.links.size > 0 or sidebar_menu.links.size > 0 -%}
      <nav class="header__primary-nav vv {% if section.settings.layout == 'logo_center_navigation_below' or section.settings.layout == 'logo_left_navigation_center' %}header__primary-nav--center{% endif %}" aria-label="{{ 'header.general.primary_navigation' | t | escape }}">
        {% comment %}
          here this piece of code is commented out from button: {% unless section.settings.layout == 'drawer' %}class="md:hidden"{% endunless %}
        {% endcomment %}
            <button type="button" id="menu-toggle">
        <span class="sr-only">{{ 'header.general.menu' | t }}</span>
        <div class="custom-hamburger-container">
          <span></span>
        </div>
      </button>



        {%- if menu.links.size > 0 and section.settings.layout != 'drawer' -%}
          {% comment %}
          <ul class="contents unstyled-list md-max:hidden">
            {%- for link in menu.links -%}
              {% liquid
                assign link_title_downcase = link.title | strip | downcase
                assign mega_menu_block = ''

                for block in section.blocks
                  assign menu_item_downcase = block.settings.menu_item | strip | downcase

                  if menu_item_downcase == link_title_downcase
                    assign mega_menu_block = block
                    break
                  endif

                endfor
              %}

              <li class="header__primary-nav-item" data-title="{{ link.title | escape }}">
                {%- if link.levels == 0 and mega_menu_block == '' -%}
                  <a href="{{ link.url }}" class="block {% if section.settings.menu_text_font == 'heading' %}h6{% endif %}" {% if link.current %}aria-current="page"{% endif %}>{{ link.title }}</a>
                {%- else -%}
                  {%- capture disclosure_content -%}
                    <details class="header__menu-disclosure">
                      <summary data-follow-link="{{ link.url }}" {% if section.settings.menu_text_font == 'heading' %}class="h6"{% endif %}>
                        {{- link.title -}}
                      </summary>

                      {%- if mega_menu_block != '' -%}
                        {%- render 'mega-menu', link: link, block: mega_menu_block -%}
                      {%- else -%}
                        <ul class="header__dropdown-menu {% if link.levels <= 1 %}header__dropdown-menu--restrictable{% endif %} unstyled-list" role="list">
                          {%- for sub_link in link.links -%}
                            <li>
                              {%- if sub_link.levels == 0 -%}
                                <a href="{{ sub_link.url }}" class="link-faded-reverse" {% if sub_link.current %}aria-current="page"{% endif %}>{{ sub_link.title }}</a>
                              {%- else -%}
                                <dropdown-menu-disclosure follow-summary-link trigger="{{ section.settings.menu_open_trigger }}" class="contents">
                                  <details class="header__menu-disclosure">
                                    <summary data-follow-link="{{ sub_link.url }}" class="link-faded-reverse">
                                      <div class="h-stack gap-4 justify-between">
                                        {{- sub_link.title -}}
                                        {%- render 'icon' with 'arrow-right', width: 8, direction_aware: true -%}
                                      </div>
                                    </summary>

                                    <ul class="header__dropdown-menu unstyled-list" role="list">
                                      {%- for sub_sub_link in sub_link.links -%}
                                        <li>
                                          <a href="{{ sub_sub_link.url }}" class="link-faded-reverse" {% if sub_sub_link.current %}aria-current="page"{% endif %}>{{ sub_sub_link.title }}</a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </details>
                                </dropdown-menu-disclosure>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </details>
                  {%- endcapture -%}

                  {% if mega_menu_block != '' %}
                    <mega-menu-disclosure follow-summary-link trigger="{{ section.settings.menu_open_trigger }}" class="contents">
                      {{- disclosure_content -}}
                    </mega-menu-disclosure>
                  {%- else -%}
                    <dropdown-menu-disclosure follow-summary-link trigger="{{ section.settings.menu_open_trigger }}">
                      {{- disclosure_content -}}
                    </dropdown-menu-disclosure>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
           {% endcomment %}
        {%- endif -%}
      </nav>
    {%- endif -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    SECONDARY NAVIGATION AREA
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <nav class="header__secondary-nav" aria-label="{{ 'header.general.secondary_navigation' | t | escape }}">
      {%- liquid
        if section.settings.show_country_selector and localization.available_countries.size > 1
          assign show_country_selector = true
        endif

        if section.settings.show_locale_selector and localization.available_languages.size > 1
          assign show_locale_selector = true
        endif
      -%}

      <ul class="contents unstyled-list">
        {%- if show_country_selector or show_locale_selector -%}
          <li class="localization-selectors md-max:hidden">
            {%- if show_country_selector -%}
              {%- render 'localization-selector', type: 'country', placement: 'bottom-end', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag, id_prefix: 'header-nav' -%}
            {%- endif -%}

            {%- if show_locale_selector -%}
              {%- render 'localization-selector', type: 'locale', placement: 'bottom-end', id_prefix: 'header-nav' -%}
            {%- endif -%}
          </li>
        {%- endif -%}

        {%- comment -%}Offer a hook for apps to integrate into the header to add their own icon, for instance{%- endcomment -%}
        {%- for block in section.blocks -%}
          {%- if block.type == '@app' -%}
            <li>
              {%- render block -%}
            </li>
          {%- endif -%}
        {%- endfor -%}

        

        {%- if section.settings.enable_search -%}
          <li class="header__search-link" style="position:relative">
            <div class="custom-icons-label">
              Search
            </div>
            <a href="{{ routes.search_url }}" aria-controls="header-search-{{ section.id }}">
              <span class="sr-only">{{ 'header.general.search' | t }}</span>

              {%- if section.settings.show_icons -%}
                {%- render 'icon' with 'search', class: 'header__nav-icon' -%}
              {%- else -%}
                <span class="md:hidden">{%- render 'icon' with 'search', class: 'header__nav-icon' -%}</span>
                <span class="{% if section.settings.menu_text_font == 'heading' %}h6{% endif %} link-faded md-max:hidden" aria-hidden="true">{{ 'header.general.search' | t }}</span>
              {%- endif -%}
            </a>
          </li>
        {%- endif -%}
        {%- if shop.customer_accounts_enabled -%}
          <li class="header__account-link sm-max:hidden" >
            <div class="custom-icons-label">
              Login
            </div>
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="custom-ancor">
              <span class="sr-only">{% if customer %}{{ 'header.general.account' | t }}{% else %}{{ 'header.general.login' | t }}{% endif %}</span>

              {%- if section.settings.show_icons -%}
               <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" id="svg2" fill="white" version="1.1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve">
  <metadata id="metadata8">
    <rdf><work rdf:about="">
      <format>image/svg+xml</format>
      <type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></type>
    </work></rdf>
  </metadata>
  <defs id="defs6"></defs>
  <g transform="matrix(1.3333333,0,0,-1.3333333,0,400)" id="g10">
    <g transform="scale(0.1)" id="g12">
      <path id="path14" fill="white" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1506.87,2587.11 c -225.04,0 -408.14,-183.08 -408.14,-408.11 0,-225.06 183.1,-408.13 408.14,-408.13 225.02,0 408.13,183.07 408.13,408.13 0,225.03 -183.11,408.11 -408.13,408.11 z m 0,-1038.56 c -347.64,0 -630.432,282.79 -630.432,630.45 0,347.63 282.792,630.43 630.432,630.43 347.63,0 630.42,-282.8 630.42,-630.43 0,-347.66 -282.79,-630.45 -630.42,-630.45 v 0"></path>
      <path id="path16" fill="white" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 399.648,361.789 H 2614.07 c -25.06,261.531 -139.49,503.461 -327.47,689.831 -124.25,123.14 -300.78,193.96 -483.86,193.96 h -591.76 c -183.61,0 -359.601,-70.82 -483.863,-193.96 C 539.148,865.25 424.719,623.32 399.648,361.789 Z M 2730.69,139.461 H 283.035 c -61.558,0 -111.16,49.59 -111.16,111.16 0,363.438 141.68,704 398.32,959.019 165.657,164.55 399.414,258.82 640.785,258.82 h 591.76 c 241.94,0 475.14,-94.27 640.8,-258.82 256.63,-255.019 398.31,-595.581 398.31,-959.019 0,-61.57 -49.59,-111.16 -111.16,-111.16 v 0"></path>
    </g>
  </g>
</svg>

                {% comment %} {%- render 'icon' with 'account', class: 'header__nav-icon custom-header-left-icon' -%} {% endcomment %}
              {%- else -%}
                <span class="md:hidden">{%- render 'icon' with 'account', class: 'header__nav-icon' -%}</span>

                <span class="{% if section.settings.menu_text_font == 'heading' %}h6{% endif %} link-faded md-max:hidden" aria-hidden="true">
                  {%- if customer -%}
                    {{- 'header.general.account' | t -}}
                  {%- else -%}
                    {{- 'header.general.login' | t -}}
                  {%- endif -%}
                </span>
              {%- endif -%}
            </a>
          </li>
        {%- endif -%}
         {%- if section.settings.enable_wisht_list -%}
          <li class="header__Wishlist-link sm-max:hidden " style="position:relative">
            <div class="custom-icons-label">
              Wish List
            </div>
            <a href="/pages/wishlist">
              <span class="sr-only">{{ 'header.general.search' | t }}</span>

              {%- if section.settings.show_icons -%}
             
                {%- render 'wish-list' class: 'header__nav-icon' -%}
              {%- else -%}
                <span class="md:hidden">{%- render 'wish-list' class: 'header__nav-icon' -%}</span>
                <span class="{% if section.settings.menu_text_font == 'heading' %}h6{% endif %} link-faded md-max:hidden" aria-hidden="true">{{ 'header.general.search' | t }}</span>
              {%- endif -%}
            </a>
          </li>
        {%- endif -%}
        <li class="relative header__cart-link" style="position:relative">
          <div class="custom-icons-label">
              Cart
            </div>
          <a href="{{ routes.cart_url }}" {% if settings.cart_type != 'page' and request.page_type != 'cart' %}aria-controls="cart-drawer"{% endif %} data-no-instant>
            <span class="sr-only">{{ 'header.general.cart' | t }}</span>

            {%- if section.settings.show_icons -%}
              <svg width="24" height="24" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
  <path d="M12,0C9.1,0,6.7,2.4,6.7,5.3v1h10.5v-1C17.2,2.4,14.9,0,12,0z M12,1.8c1.6,0,3,1.1,3.4,2.7H8.6C9,2.9,10.4,1.8,12,1.8" fill="currentColor"></path>
  <g>
   <path d="M17.6,6.2c0.9,0,1.6,0.7,1.6,1.6v12.9c0,0.9-0.7,1.6-1.6,1.6H6.4c-0.9,0-1.6-0.7-1.6-1.6V7.8c0-0.9,0.7-1.6,1.6-1.6H17.6
      M17.6,4.5H6.4C4.5,4.5,3,6,3,7.8v12.9C3,22.5,4.5,24,6.4,24h11.3c1.8,0,3.3-1.5,3.3-3.3V7.8C21,6,19.5,4.5,17.6,4.5L17.6,4.5z" fill="currentColor"></path>
  </g>
  <path d="M14.8,8.8H9.2c-0.4,0-0.7-0.3-0.7-0.7v0c0-0.4,0.3-0.7,0.7-0.7h5.7c0.4,0,0.7,0.3,0.7,0.7v0C15.5,8.5,15.2,8.8,14.8,8.8z" fill="currentColor"></path>
</svg>
              {% comment %} {%- render 'icon' with 'cart', class: 'header__nav-icon' -%} {% endcomment %}
            {%- else -%}
              <span class="md:hidden">{%- render 'icon' with 'cart', class: 'header__nav-icon' -%}</span>
              <span class="{% if section.settings.menu_text_font == 'heading' %}h6{% endif %} link-faded md-max:hidden">{{ 'header.general.cart' | t }} (<cart-count>{{ cart.item_count }}</cart-count>)</span>
            {%- endif -%}

            <cart-dot 
  class="header__cart-dot {% unless cart.empty? %}is-visible{% endunless %} {% unless section.settings.show_icons %}md:hidden{% endunless %}"
  data-count="{{ cart.item_count }}">
  {% if cart.item_count > 0 %}
    <span class="cart-count">{{ cart.item_count }}</span>
  {% endif %}
</cart-dot>

          </a>
        </li>
      </ul>
    </nav>

    {%- if section.settings.enable_search -%}
      {%- render 'header-search' -%}
    {%- endif -%}

    {%- assign sidebar_menu = section.settings.sidebar_menu | default: section.settings.menu -%}

    {%- if sidebar_menu.links.size > 0 -%}
      {%- render 'header-sidebar', menu: sidebar_menu, color_scheme: section.settings.sidebar_color_scheme, show_dividers: section.settings.sidebar_show_dividers, open_second_level_menus: section.settings.sidebar_open_second_level_menus -%}
    {%- endif -%}
  </x-header>
 
</height-observer>

<script>
  document.documentElement.style.setProperty('--header-height', `${document.getElementById('shopify-section-{{ section.id }}').clientHeight.toFixed(2)}px`);
</script>
<script src="//shopfy-features.myshopify.com/cdn/shop/t/2/assets/bq__yopose.js" defer></script>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "shopify-section--header",
  "tag": "header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "t:sections.header.enable_sticky_header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_on_scroll",
      "label": "t:sections.header.hide_on_scroll",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_separation_border",
      "label": "t:sections.header.show_separation_border",
      "default": true
    },
    {
      "type": "range",
      "id": "header_height",
      "label": "Header Height",
      "min": 5,
      "max": 80,
      "default":25
    },
    {
      "type": "checkbox",
      "id": "reduce_padding",
      "label": "t:sections.header.reduce_padding",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.header.logo_category"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:global.image.image",
      "info": "t:sections.header.logo_size_recommendation"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 20,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:global.image.width",
      "default": 140
    },
    {
      "type": "range",
      "id": "logo_mobile_max_width",
      "min": 20,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:global.image.mobile_width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.header.navigation_category"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu",
      "label": "t:sections.header.mobile_menu"
    },
    {
      "type": "select",
      "id": "menu_open_trigger",
      "label": "t:sections.header.menu_open_trigger",
      "info": "t:sections.header.menu_open_trigger_info",
      "options": [
        {
          "value": "hover",
          "label": "t:sections.header.menu_open_trigger_options.hover"
        },
        {
          "value": "click",
          "label": "t:sections.header.menu_open_trigger_options.click"
        }
      ],
      "default": "hover"
    },
    {
      "type": "select",
      "id": "menu_text_font",
      "label": "t:sections.header.menu_text_font",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.header.menu_text_font_options.heading"
        },
        {
          "value": "body",
          "label": "t:sections.header.menu_text_font_options.body"
        }
      ],
      "default": "heading"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "t:sections.header.enable_search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_wisht_list",
      "label": "t:sections.header.enable_search",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.sidebar_navigation_category"
    },
    {
      "type": "color_scheme",
      "id": "sidebar_color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-2"
    },
    {
      "type": "select",
      "id": "sidebar_text_font",
      "label": "t:sections.header.sidebar_text_font",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.header.sidebar_text_font_options.heading"
        },
        {
          "value": "body",
          "label": "t:sections.header.sidebar_text_font_options.body"
        }
      ],
      "default": "heading"
    },
    {
      "type": "checkbox",
      "id": "sidebar_show_dividers",
      "label": "t:sections.header.sidebar_show_dividers",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sidebar_open_second_level_menus",
      "label": "t:sections.header.sidebar_open_second_level_menus",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.header.desktop_category"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.header.layout",
      "options": [
        {
          "value": "logo_left_navigation_inline",
          "label": "t:sections.header.layout_options.logo_left_navigation_inline"
        },
        {
          "value": "logo_left_navigation_center",
          "label": "t:sections.header.layout_options.logo_left_navigation_center"
        },
        {
          "value": "logo_center_navigation_inline",
          "label": "t:sections.header.layout_options.logo_center_navigation_inline"
        },
        {
          "value": "logo_center_navigation_below",
          "label": "t:sections.header.layout_options.logo_center_navigation_below"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.layout_options.drawer"
        }
      ],
      "default": "logo_left_navigation_inline"
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "t:sections.header.show_icons",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.localization.country_region_selector_category",
      "info": "t:global.localization.country_region_selector_category_info"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "t:global.localization.show_country_region_selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "t:global.localization.show_country_name",
      "default": false,
      "visible_if": "{{ section.settings.show_country_selector }}"
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "t:global.localization.show_country_flag",
      "default": true,
      "visible_if": "{{ section.settings.show_country_selector }}"
    },
    {
      "type": "header",
      "content": "t:global.localization.language_selector_category",
      "info": "t:global.localization.language_selector_category_info"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:global.localization.show_locale_selector",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.header.transparent_header_category"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.transparent_header_info"
    },
    {
      "type": "color",
      "id": "transparent_header_text_color",
      "label": "t:global.colors.text",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "t:sections.header.transparent_header_logo_image",
      "info": "t:sections.header.transparent_header_logo_size_recommendation"
    }
  ],
  "blocks": [
   {
      "type": "menu_item",
      "name": "Menu Item",
      "settings": [
        {
      "type": "text",
      "id": "parent_link",
      "label": "Parent Menu Title",
      "info": "Enter the exact title of the main menu item (e.g., Shop)"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2"
    },
    {
      "type": "link_list",
      "id": "menu_3",
      "label": "Menu 3"
    },
    {
      "type": "link_list",
      "id": "menu_4",
      "label": "Menu 4"
    },
    {
      "type": "link_list",
      "id": "menu_5",
      "label": "Menu 5"
    }
      ]
    },
    {
  "type": "menu_image",
  "name": "Menu Image",
  "settings": [
    {
      "type": "text",
      "id": "parent_link",
      "label": "Parent link title"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1"
    },
    {
      "type": "url",
      "id": "link_1",
      "label": "Link 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "Link 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
    {
      "type": "text",
      "id": "title_4",
      "label": "Title 4"
    },
    {
      "type": "url",
      "id": "link_4",
      "label": "Link 4"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Image 5"
    },
    {
      "type": "text",
      "id": "title_5",
      "label": "Title 5"
    },
    {
      "type": "url",
      "id": "link_5",
      "label": "Link 5"
    }
  ]
}

  ]
}
{% endschema %}
